[mysqld]
#sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
sql-mode=""
innodb_buffer_pool_size = 3G
# table_definition_cache = -1
innodb_log_file_size = 768M

query_cache_size = 0
query_cache_type = OFF
performance_schema = ON
join_buffer_size = 1M
table_open_cache = 2500
